.main-nav{
    display: flex;
    justify-content: space-between;
    background-color: #C9D9DE;
}

.nav-menu{
    display: flex;
    gap: 2em;
    font-family: "futura-pt", sans-serif;
            font-weight: 400;
            font-style: normal;
            background-color: #C9D9DE;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin:1rem;
}

.nav-toggle.hide{
    display:none;
}

@media screen and (max-width: 768px){
    .nav-toggle{
        display:flex;
        justify-content: center;
        align-content: center;
        flex-direction:column;
        align-self:center;
    }

    .hamburger{
        background-color: black;
        height: 6px;
        width: 40px;
        padding: 0;
        margin: 3px;
    }

    .nav-menu.show{
        position: absolute;
        top: 90px;
    }
}


.nav-brand{
    display: flex;
    font-family: "gelato-luxe", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 32px;
            color: #0D485C;
            margin: 1rem;
}

 a {
    text-decoration: underline dotted;
    color:#0D485C;
    }

 a:hover {
    text-decoration: underline;
    color: #304F34;
    }

a:visited {
    color: #304F34;
    }